.note-header {
    height: 60px;
    background-color: rgb(171, 182, 237);
    text-align: center;

    & > *:first-child {
        position: absolute;
        left: 20px;
        top: 10px;
        font-size: 36px;
    }

    h3 {
        line-height: 60px;
        margin: 0;
        font-size: 24px;
        text-transform: uppercase;
        color: #fff;
    }
}