.NoteDetails {
    .note-header {
        position: fixed;
        width: 100%;
    }

    .titles {
        box-sizing: border-box;
        position: fixed;
        left: 120px;
        top: 60px;
        width: 200px;
        height: 100vh;
        padding: 10px;
        background-color: rgb(241, 242, 246);
        list-style: none;

        li {
            height: 40px;
            line-height: 40px;
            padding-left: 10px;
        }

        li:hover {
            background-color: rgb(224, 228, 234);
        }

        a {
            display: inline-block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: black;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .note {
        position: absolute;
        box-sizing: border-box;
        left: 320px;
        top: 60px;
        width: calc(100% - 320px);
        padding: 0 40px;
        z-index: -1;

        h2 {
            height: 50px;
            line-height: 50px;
            text-align: center;
            font-weight: normal;
            border-bottom: 2px solid #ccc;
        }

        section:first-of-type {
            padding-bottom: 20px;
            border-bottom: 2px solid #ccc;
        }

        .button-set {
            margin-top: 20px;
            text-align: center;
    
            .button {
                display: inline-block;
            }
    
            .button+.button {
                margin-left: 20px;
            }
    
            .button button {
                color: black;
                width: 100px;
                height: 30px;
    
                &:hover {
                    cursor: pointer;
                }
            }
    
            .button:nth-child(1) button {
                background-color: rgb(238, 117, 131);
            }
    
            .button:nth-child(2) button {
                background-color: rgb(241, 242, 246);
            }
        }
    }
}