.note-addition {
    width: 40%;
    margin: 0 auto;

    h1 {
        margin: 0;
        height: 80px;
        line-height: 80px;
        text-align: center;
        font-size: 28px;
        border-bottom: 1px solid #ccc;
        font-weight: normal;
    }

    .title,
    .content {
        margin-top: 20px;

        h2 {
            margin: 0;
            font-weight: normal;
        }

        input,
        textarea {
            margin-top: 10px;
            box-sizing: border-box;
            width: 100%;
            border: 1px solid #ccc;
            font-size: 20px;
        }

        input {
            height: 36px;
        }

        textarea {
            resize: none;
            height: 200px;
        }
    }

    .button-set {
        margin-top: 20px;
        text-align: center;

        .button {
            display: inline-block;
        }

        .button+.button {
            margin-left: 20px;
        }

        .button button {
            color: black;
            width: 100px;
            height: 30px;

            &:hover {
                cursor: pointer;
            }
        }

        .button:nth-child(1) button {
            background-color: rgb(238, 117, 131);
        }

        .button:nth-child(2) button {
            background-color: rgb(241, 242, 246);
        }

        .button button:disabled,
        .button button[disabled] {
            background-color: lighten(rgb(238, 117, 131), 20%);
        }
    }
}