.Home {
    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        padding: 40px 100px;
        margin: 0;

        li {
            width: 200px;
            height: 300px;
            margin: 20px 40px;
            box-shadow: 10px 10px 5px #ccc;
        }

        li:nth-child(2n) {
            background-color: rgb(232, 169, 137);
        }

        li:nth-child(2n+1) {
            background-color: rgb(242, 215, 156);
        }

        a {
            display: inline-block;
            width: 80px;
            height: 80px;
            line-height: 80px;
            text-align: center;
            margin: 110px 60px;
            color: white;
            font-size: 24px;
            text-decoration: none;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}